/* Display

Nos sirve para controlar como se muestra un elemento dentro de nuestro documento

Esta propiedad es distinta de position por que display se encarga de definir como se muestran u ocultan elementos (NO SE ELIMINA EL CODIGO).


       -none
       -inline
       -block
       -inline-block


*/

/* Estilos generales */

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para mis articulos */

#articuloUno{
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
    display: block;
}
#articuloDos{
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
    display: none;
}
#articuloTres{
    margin: 20px;
    padding: 20px;
    background-color: gainsboro;
    border: 1px solid black;
}

/*

none

Hace que el elemento se oculte completamente y que no ocupe espacio en la pagina (no se elimina), y este valor se utiliza comunmente para ocultar elementos debido a la interaccion con la ventana del navegador (un menu que se oculte cuando la ventana se haga pequeña).



inline

Es el valor por defecto, hace que el elemento se muestre en linea con el texto que lo rodea.

*/



div ul li{ /*Funciona por que modifica solo las listas mando a buscar en los divs luego en ul y que pornga en linea cada li */
    display: inline;
    margin: 30px;
    border: 5px solid blue;
}

/* 

Block



*/